<nav class="navbar">
  <a [routerLink]="[links.login]" class="navbar-blo"> Stuff </a>
  <ul class="navbar-links">
    <ng-container *ngIf="isLoggedIn$ | async">
      <li class="navbar-links-item">
        <a [routerLink]="'items'">Items</a>
      </li>
    </ng-container>
    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <li class="navbar-links-item">
        <a [routerLink]="[links.login]">Login</a>
      </li>
      <li class="navbar-links-item">
        <a [routerLink]="[links.register]">Register</a>
      </li>
    </ng-container>
  </ul>
</nav>
